<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Umbrella</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
    <div class="video-background">
        <video src="{{ url_for('static', filename='Video/2.mp4') }}" autoplay loop muted></video>
    </div>

    <aside class="sidebar">
        <h1>Menú Principal</h1>
        <img src="{{ url_for('static', filename='img/Logo sin fondo.png') }}" alt="Logo Umbrella" class="sidebar-logo">
        <ul class="main-menu">
            <li>
                <a href="#" id="enlace-generador-etiquetas">Generador de etiquetas</a>
            </li>
            <li class="has-submenu">
                <a href="#">Datos Maestro</a>
                <ul class="submenu">
                    <li><a href="#">Derechos de usuarios</a></li>
                    <li><a href="#">Cambio de contraseña</a></li>
                    <li><a href="#">Nuevo Usuario</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Medicamentos</a>
                <ul class="submenu">
                    <li><a href="#">Nuevo Medicamento</a></li>
                    <li><a href="#">Nueva Monodroga</a></li>
                    <li><a href="#">Nueva Presentación</a></li>
                    <li><a href="#">Modificación de Medicamento</a></li>
                    <li><a href="#">Modificación de Monodroga</a></li>
                    <li><a href="#">Modificación de Presentación</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Categoria</a>
                <ul class="submenu">
                    <li><a href="#">Alimento</a></li>
                    <li><a href="#">Antiseptico</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Sub Categoria</a>
                <ul class="submenu">
                    <li><a href="#">Ampolla</a></li>
                    <li><a href="#">Comprimido</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Informes</a>
                <ul class="submenu">
                    <li><a href="#">Informe de Producción total</a></li>
                    <li><a href="#">Informe de Producción por Grupos 1</a></li>
                    <li><a href="#">Informe de Producción por Grupos 2</a></li>
                </ul>
            </li>
            <li class="logout">
                <a href="{{ url_for('auth.logout') }}"><span class="logout-icon">⬅️</span> Cerrar Sesión</a>
            </li>
        </ul>
    </aside>

    <div id="generador-etiquetas-container" style="display: none;">
        <h2>Generador de Etiquetas</h2>
        <form id="formulario-generador-etiquetas">
            <div class="form-group">
                <label for="centro">Centro:</label>
                <select id="centro" name="centro">
                    <option value="">Selecciona un Centro...</option>
                    {% if centros %}
                    {% for centro_item in centros %}
                    <option value="{{ centro_item.id }}">{{ centro_item.nombre }}</option>
                    {% endfor %}
                    {% else %}
                    <option value="" disabled>No hay centros disponibles</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="medicamento">Medicamento:</label>
                <input type="text" id="medicamento" name="medicamento" autocomplete="off" required>
                <div id="sugerencias-medicamentos" class="sugerencias-container-estilo">
                </div>
            </div>
            <div class="form-group">
                <label for="laboratorio">Laboratorio:</label>
                <input type="text" id="laboratorio" name="laboratorio" readonly>
            </div>
            <div class="form-group">
                <label for="monodroga">Monodroga:</label>
                <input type="text" id="monodroga" name="monodroga" readonly>
            </div>
            <div class="form-group">
                <label for="presentacion">Presentación:</label>
                <input type="text" id="presentacion" name="presentacion" readonly>
            </div>
            <div class="form-group">
                <label for="codigo">Código:</label>
                <input type="text" id="codigo" name="codigo" readonly>
            </div>
            <div class="form-group">
                <label for="lote">Lote:</label>
                <input type="text" id="lote" name="lote" pattern="^[a-zA-Z0-9-]+$" required>
            </div>
            <div class="form-group">
                <label for="vencimiento">Vencimiento:</label>
                <input type="date" id="vencimiento" name="vencimiento" required min="">
            </div>
            <div class="form-group">
                <label for="grupo1">Categoria:</label>
                <input type="text" id="grupo1" name="grupo1" readonly>
            </div>
            <div class="form-group">
                <label for="grupo2">Sub Categoria:</label>
                <input type="text" id="grupo2" name="grupo2" readonly>
            </div>
            <div id="trazabilidad-container" class="form-group" style="display: none;">
                <label for="numero-serie">Número de Serie:</label>
                <input type="text" id="numero-serie" name="numero_serie">
            </div>
            <button type="button">Volver atrás</button>
            <button type="button" id="boton-vista-previa">Ver vista previa</button>
            <button type="reset" id="boton-limpiar-formulario">Limpiar</button>
        </form>

        <div id="vista-previa-etiqueta-seccion" style="display: none;">
            <h3>Previsualización de Etiqueta</h3>
            <div class="label-preview-container">
                <div class="label-content">
                    <div class="label-header">
                        <span id="preview-centro" class="label-centro"></span>
                    </div>
                    <div class="label-body">
                        <div class="label-details">
                            <p class="medicamento-nombre"><strong id="preview-medicamento-nombre"></strong></p>
                            <p><strong>Monodroga:</strong> <span id="preview-monodroga"></span></p>
                            <p><strong>Presentación:</strong> <span id="preview-presentacion"></span></p>
                            <div class="lote-vencimiento">
                                <p><strong>Lote:</strong> <span id="preview-lote"></span></p>
                                <p><strong>Venc:</strong> <span id="preview-vencimiento"></span></p>
                            </div>
                        </div>
                        <div class="label-qr-code">
                            <div id="qrcode-preview-area"></div>
                            <p class="codigo-producto">Cod: <span id="preview-codigo-producto"></span></p>
                        </div>
                    </div>
                    <div class="label-footer">
                        <span id="preview-usuario" class="label-usuario"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div id="welcome-toast" class="welcome-toast">
        <p>Bienvenido, {{ user.username }} (Rol: {{ user.role }})</p>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/menu_script.js') }}"></script>
</body>

</html>